<h1> <%= @food.name %> </h1>

<h2> Cuisine Type: <%= @food.cuisine_type %> </h2>

<h2> Price: &pound;<%= @food.price %> </h2>

<h2> Allergens: <%= @food.allergens %> </h2>

<h3> <a href="/foods/<%= @food.id %>/edit">Edit This Item</a></h3>