<h1> <%= @food.name %> </h1>

<h4> Cuisine Type: <%= @food.cuisine_type %> </h4>

<h4> Price: &pound;<%= @food.price %> </h4>

<h4> Allergens: <%= @food.allergens %> </h4>

<h3> <a href="/foods/<%= @food.id %>/edit">Edit This Item</a></h3>