<h3>Order Summary:</h3>
<ul>
	<% @party.foods.each do |food| %>
	<li><%= food.name %>: $<%= food.price %>.00</li>
	<% end %>
</ul>


<h3>Total: $<%=@total%>.00</h3>


<label>Tip Amount:</label>
<select>
	<% fifteen_perc = @total * 0.15 %>
	<option value = "1">15%: $<%= fifteen_perc.to_f %> ($<%= @total+fifteen_perc %>)</option>
	<% twenty_perc = @total * 0.2 %>
	<option value = "2">20%: $<%= twenty_perc.to_f %> ($<%= @total + twenty_perc %>)</option>
	<% twenty_five_perc = @total * 0.25 %>
	<option value = "3">25%: $<%= twenty_five_perc.to_f %> ($<%= @total + twenty_five_perc %>)</option>
</select> 

