<h3>Order Summary:</h3>
<ul>
	<% @party.foods.each do |food| %>
	<li><%= food.name %>: &pound;<%= food.price %>.00</li>
	<% end %>
</ul>

<form action="/parties/<%=@party.id%>" method="POST">
	<h3><input id="party_sub_total" type="hidden" name='party[sub_total]' value="<%=@party.sub_total%>">Sub-Total: &pound;<%= @party.sub_total %>.00</h3>

	<label for="tip">Tip Amount:</label>
	<select name="party[tip]">
		<option id="tip" type="integer" value="<%=@party.sub_total.to_f*0.15%>">15%: &pound;<%= @party.sub_total.to_f*0.15.to_f %></option>
		<option id="tip" type="integer" value="<%= @party.sub_total.to_f*0.2 %>">20%: &pound;<%= @party.sub_total.to_f*0.2.to_f %></option>
		<option id="tip" type="integer" value="<%= @party.sub_total.to_f*0.25 %>">25%: &pound;<%= @party.sub_total.to_f*0.25.to_f %></option>
	</select> 
	<input id="party[paid]" type="hidden" name="party[paid]" value="1"> 
	<input type="hidden" name="_method" value="patch">
	<input type="submit" value="Pay">
</form>

<!-- <h2><a href="/parties/< %=@party.id%>/pay">Proceed</a></h2> -->


