<h2>Order ID: <%=@order.id %></h2>

<p>Table Number:<%=@order.party_id%></p>

<p>Food Orders:<%=@order.food.name%></p>

<p>Comped:<%=@order.comped%></p>

<p>Price:<%=@order.food.price%></p>

<a href="/orders/<%=@order.id%>/edit">Edit Order</a>



