<h2>Order ID: <%=@order.id %></h2>

<p>Party ID: <%=@order.party_id%></p>

<p>Food Ordered: <%=@order.food.name%></p>
<p>Comped: <%=@order.comped%></p>

<h3><a href="/parties/<%= @order.party.id %>">View Party Orders</a></h3>

<h3><a href="/parties/<%= @order.party.id %>/new_order">Add Food Order</a></h3>

<form action="/orders/<%= @order.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete Item">
</form>


